/* https://www.youtube.com/watch?v=aaS1ISro2fo */

:root {
    --main-color: red;
}


/*  to apply global selector on pseudocodes
    *:after ,
    *:before ,
    * {box-sizing: border-box} 
*/

* {
    box-sizing: border-box
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* settings-box */
.settings-box {
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #fff;
    width: 200px;
    min-height: 100vh;
    z-index: 2001;
    transition: all .3s ease-in-out;
    border: 1px solid rgb(212, 211, 211);
}

.settings-box.opened {
    left: 0;
}

.settings-box .toggle-settings {
    position: absolute;
    right: -36px;
    top:100px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(212, 211, 211);
    border-left: none;
}

.settings-box .setting {
    font-size: 22px;
    width: 36px;
    padding: 8px 0;
}

.settings-box .option-box {
    padding: 10px;
    text-align: center;
    background-color: #eee;
    margin: 5px;
}

.settings-box .option-box h4 {
    margin: 0;
    color: #666;
}

.settings-box .option-box .colors-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 0;
}

.settings-box .option-box .colors-list li {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    transition: all .5s ease-in-out;
    border: 2px solid #eee;
}

.settings-box .option-box .colors-list li.active ,
.settings-box .option-box .colors-list li:hover {
    border-color: #fff;
}

.settings-box .option-box .colors-list li:first-child {
    background-color: #f00;
}

.settings-box .option-box .colors-list li:nth-child(2) {
    background-color: #04cccc;
}

.settings-box .option-box .colors-list li:nth-child(3) {
    background-color: #9f54bd;
}

.settings-box .option-box .colors-list li:nth-child(4) {
    background-color: #ff7b00f1;
}

.settings-box .option-box .colors-list li:nth-child(5) {
    background-color: #7cf07c;
}

.settings-box .option-box .colors-list li:nth-child(6) {
    background-color: #2880fb;
}

.settings-box .option-box .colors-list li:nth-child(7) {
    background-color: #f306b8;
}

.settings-box .option-box .colors-list li:nth-child(8) {
    background-color: #00ffdd;
}

.settings-box .option-box .colors-list li:nth-child(9) {
    background-color: #dd565d;
}

.settings-box .option-box .colors-list li:nth-child(10) {
    background-color: #b9f102;
}

.settings-box .yes ,
.settings-box .no {
    width: 50px;
    background-color: var(--main-color);
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    font-size: 12px;
    padding: 6px 10px 7px;
    font-weight: bold;
    border-radius: 5px;
    opacity: .5;
    cursor: pointer;
}

.settings-box span.active {
    opacity: 1;
}

.settings-box .resetBtn {
    background-color: #d8574d;
    border: none;
    display: block;
    width: 178px;
    margin: 10px auto;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    outline: none;
}

.settings-box .resetBtn:hover {
    background-color:  #ee3326;
}

/* nav bullets */
.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 1000;
}

.nav-bullets .bullet {
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    margin: 15px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: all .5s ease-in-out;
}

.nav-bullets .bullet.active {
    background-color: var(--main-color);
}

.nav-bullets .bullet:hover .tooltip {
    display: block;
}

.nav-bullets .bullet .tooltip {
    margin-right: -5px;
    padding: 5px 15px;
    position: absolute;
    right: 35px;
    top: -7px;
    color: #fff;
    background-color: var(--main-color);
    transition: all .5s ease-in-out;
    display: none;
    cursor: default;
    pointer-events: none;
}

.nav-bullets .bullet .tooltip::before {
    content: '';
    border-style: solid;
    border-width: 7px;
    height: 0;
    width: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -14px;
    border-color: transparent transparent transparent var(--main-color)
    
}

/* landing page */
.landing-page {
    min-height: 100vh;
    background-image: url(https://res.cloudinary.com/hapiii/image/upload/v1612352679/jjdu40v3fbxmiugcthxo.jpg);
    background-size: cover;
    position: relative;
}

.landing-page .overlay {
    background-color: rgba(0,0,0,.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.header-area {
    position: fixed;
    left: 0;
    color: #fff;
    display: flex;
    padding: 10px;
    width: 94%;
    margin-left: 3% ;
    z-index: 2000;
}

.header-area .logo {
    width: 400px;
    padding: 15px;
    font-weight: bold;
    text-align: center;
}

.header-area .links-container {
    width: 100%;
    text-align: right;
}

.header-area .links {
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.header-area .links li {
    display: inline-block;
}

.header-area .links li:not(:last-child) {
    margin-right: 30px
}

.header-area .links li a {
    color: #fff;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.header-area .links li a:hover ,
.header-area .links li a.active {
    color: var(--main-color);
}

.header-area .toggle-menu {
    width: 40px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    margin-top: 15px;
    position: relative;
}

.header-area .toggle-menu.menu-active::before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom: -15px;
    left: 10px;
}

.header-area .toggle-menu:focus {
    outline: none;
}

.header-area .toggle-menu span {
    height: 4px;
    margin-bottom: 4px;
    background-color: #fff;
    display: block;
    outline: none;
}

.introduction-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color: #fff;
    text-align: center;
    width: 95%;
}

.introduction-text h1 {
    font-size: 34px;
    margin: 0 0 20px;
}

.introduction-text h1 span {
    color: var(--main-color);
}

.introduction-text p {
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}

/* about us section */
.about-us {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.about-us .info-box {
    flex: 1;
    padding: 30px;
}

.about-us .info-box h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 10px;
}

.about-us .info-box p {
    line-height: 1.8;
    color: #767676;
    margin: 0;
}

.about-us .image-box {
    flex: 1;
    text-align: center;
}

.about-us .image-box .img {
    background-image: url('https://res.cloudinary.com/hapiii/image/upload/v1612201181/xtotb7pcmli14jyeixyj.jpg');
    background-size: cover;
    width: 250px;
    height: 190px;
    margin: auto;
    position: relative;
}

.about-us .image-box .imgOverlay {
    position: absolute;
    background-color: var(--main-color);
    opacity: .09;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

/* skills section */
.skills {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.skills::after {
	content: ''; 
	position: absolute; 
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%;
	background-color: var(--main-color); 
	opacity: 0.05; 
	z-index: -1;
}

.skills h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
}

.skills .skill-box {
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}

.skills .skill-box .skill-name {
    font-weight: bold;
    width: 140px;
    text-align: center;
    line-height: 20px;
}

.skills .skill-box .skill-progress {
    height: 20px;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.skills .skill-box .skill-progress span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    opacity: .7;
    transition: all 5s ease-in-out;
}

/* gallary section */
.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.gallery h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
}

.gallery .imgs-box {
    text-align: center;
}

.gallery .imgs-box img {
    width: 200px;
    height: 150px;
    padding: 3px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 2500;
}

.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 2600;
}

.popup-box h3 {
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--main-color);
}

.close-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    font-family: Arial, Tahoma;
    border-radius: 50%;
    cursor: pointer;
}

.popup-box img {
    width: 600px;
    height: 450px;
}


/* timeline section */
.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}

.timeline .timeline-content {
    position: relative;
    overflow: hidden;
}

.timeline .timeline-content::before {
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    margin-left: -1px;
    left: 50%;
    top: 0;
}

.timeline .timeline-content .year {
    position: relative;
    margin: 20px auto;
    width: 50px;
    background-color: var(--main-color);
    border-radius: 5px;
    text-align: center;
    color: #fff;
    padding: 3px 5px;
    font-weight: bold;
    z-index: 2;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
    position: relative;
    width: calc(50% - 25px);
    margin-bottom: 40px;
}

.timeline .timeline-content .left::before ,
.timeline .timeline-content .right::before {
    content: '';
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: 20px;
}

.timeline .timeline-content .left {
    float: left;
}

.timeline .timeline-content .left::before {
    right: -35px;
}

.timeline .timeline-content .right {
    float: right;
}

.timeline .timeline-content .right::before {
    left: -35px;
}

.timeline .timeline-content .content {
    padding: 20px;
    background-color: #fff;
}

.timeline .timeline-content .content h3 {
    font-weight: bold;
    color: var(--main-color);
    margin: 0 0 10px;
}

.timeline .timeline-content .content p {
    color: #666;
    margin: 0;
    line-height: 1.6;
}

.clearfix {
    clear: both;
}

.timeline .timeline-content .left .content::before ,
.timeline .timeline-content .right .content::before {
    content: '';
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    top: 20px;
}

.timeline .timeline-content .left .content::before {
    right: -20px;
    border-color: transparent transparent transparent #fff;
}

.timeline .timeline-content .right .content::before {
    left: -20px;
    border-color:  transparent  #fff transparent transparent;
}

/* features section */
.features {
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
}

.features h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}

.features .feat-box {
    float: left;
    width: calc(100% / 3);
    text-align: center;
    margin-bottom: 40px;
}

.features .feat-box img {
    width: 100px;
}

.features .feat-box h4 {
    position: relative;
    font-size: 22px;
    margin: 15px 0 40px;
}

.features .feat-box h4::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: var(--main-color);
    left: 50%;
    bottom: -15px;
    margin-left: -20px;
}

.features .feat-box p {
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    color: #565353;
}

/* start our working range */
.covering {
    padding: 80px 0;
    background-color: rgb(243, 243, 243);
    width: 100%;
}

.covering .table {
    width: 90%;
    margin: auto;
}

.covering table {
    width: 80%;
    margin: auto;
    height: 500px;
    text-align: center;
    margin: auto;
}

.covering caption {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 50px;
    color: var(--main-color);
    position: relative;
}


.covering th,
.covering td {
    border: 2px solid var(--main-color);
    color: rgb(84, 87, 87);
    font-size: 18px;
}

.covering td:first-child {
    font-weight: bold ;
}

.covering .fa-check {
    color: green;
    font-size: 24px;
}

.covering .fa-times {
    color: red;
    font-size: 24px;
}

/* testimonials section */
.testimonials {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.testimonials::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
}

.testimonials::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #333
}

.testimonials h2 {
    position: relative;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin: 0 0 30px;
    text-align: left;
    z-index: 2;
}

.testimonials .testi-box {
    position: relative;
    width: calc(98%/3);
    float: left;
    z-index: 2;
    background-color: #fff;
    padding: 20px;
}

.testimonials .testi-box:not(:last-of-type) {
    margin-right: 1%;
}

.testimonials .testi-box .person-info {
    overflow: hidden;
}

.testimonials .testi-box .person-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.testimonials .testi-box p {
    margin: 0 0 20px;
    line-height: 1.5;
    font-size: 16px;
    color: #707070;
    font-style: italic;
}

.testimonials .testi-box .person-info .info {
    float: left;
}

.testimonials .testi-box .person-info h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.testimonials .testi-box .person-info span {
    font-size: 15px;
    color: #707070;
}

/* contact us section */
.contact {
    background-image:url('https://res.cloudinary.com/hapiii/image/upload/v1612352673/h9twxi7h4cnhiajt3y7m.png');
    position: relative;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
}

.contact .container {
    position: relative;
    z-index: 2;
}

.contact h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
    z-index: 2;
}

.contact form {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}

.contact form .left {
    float: left;
    width: 49%;
}

.contact form .right {
    float: right;
    width: 49%;
}

.contact form input:not([type='submit']),
.contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    resize: none;
    outline: none;
    background-color: rgba(218, 218, 218, .19);
}

::-webkit-input-placeholder { font-size: .8em; font-weight: normal; font-style: italic; }
::-moz-placeholder { font-size: .8em; font-weight: normal; font-style: italic;} 
::-ms-input-placeholder { font-size: .8em; font-weight: normal; font-style: italic;} 
input:-moz-placeholder { font-size: .8em; font-weight: normal; font-style: italic;}

.contact form input { 
    height: 40px;
}

.contact form textarea {
    height: 150px;
}

.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type='submit']):focus::-webkit-input-placeholder {opacity: 0; transition: .3s;}

.contact form textarea:focus::-moz-placeholder,
.contact form input:not([type='submit']):focus::-moz-placeholder{opacity: 0; transition: .3s;} 

.contact form textarea:focus::-ms-input-placeholder,
.contact form input:not([type='submit']):focus::-ms-input-placeholder {opacity: 0; transition: .3s;} 

.contact form textarea:focus::placeholder,
.contact form input:not([type='submit']):focus::placeholder {opacity: 0; transition: .3s;}

.contact form input[type='submit'] {
    padding: 10px;
    width: 100%;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    background-color: var(--main-color);
}

/* start social section */
.social-section {
    padding: 10px 0;
    background-color: #fff;
    box-shadow: -2px -5px 13px #000;
}
.social-section .content {
    display: flex;
}

.social-section .content .left {
    flex: 5;
}
.social-section .content .right {
    flex: 7;
    text-align: center;
    padding-top: 20px;
}

.social-section h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.social-section p {
    color: #a1a1a1;
    line-height: 1.4;
}

.social-section i {
    color: #ccc;
    margin: 15px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.social-section .fa-facebook:hover {color: #3b5998;}
.social-section .fa-twitter:hover {color: #1da1f2;}
.social-section .fa-google-plus:hover {color: #dd4b39;}
.social-section .fa-pinterest:hover {color: #bd081c;}
.social-section .fa-instagram:hover {color: #833ab4;}
.social-section .fa-stumbleupon:hover {color: #eb4924;}
.social-section .fa-rss:hover {color: #f26522;}


/* start footer */
.footer {
    background-color: #333;
    color: #f6f6f6;
    padding: 20px;
    text-align: center;
    font-weight: 500;
}


/* media query */
@media (max-width: 575px) {
    .header-area .links {
        display: none;
    }
    .header-area .links.open {
        background-color: #fff;
        padding: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        border-radius: 4px;
        text-align: left;
    }
    .header-area .links.open li {
        display: block;
        padding: 10px 0 10px 5px;
    }
    .header-area .links.open li:hover {
        background-color: #eeeeee50;
    }
    .header-area .links.open li a {
        color: var(--main-color);
        font-weight: bold;
    }
    .header-area .toggle-menu {
        display: inline-block;
    }
    .about-us {
        display: block;
        text-align: center;
    }
    .about-us .info-box {
        padding: 0;
        margin-bottom: 20px;
    }
    .introduction-text h1 {
        font-size: 28px;
    }
    .features .feat-box {
        width: 100%;
    }
    .covering {
        padding: 50px 0;
    }
    .covering .table{
        width: 100%;
    }
    .covering table {
        width: 96%;
        height: 400px;
        margin-left:2%;
    }
    .covering caption {
        font-size: 15px;
        margin-bottom: 30px;
    }
    .covering th,
    .covering td {
        font-size: 12px;
    }
    .covering .fa-check {
        font-size: 20px;
    }
    .covering .fa-times {
        font-size: 20px;
    }
    .timeline .timeline-content .left ,
    .timeline .timeline-content .right {
        width: 100%;
        margin-bottom: 20px;
    }
    .timeline .timeline-content .left::before ,
    .timeline .timeline-content .right::before {
        display: none;
    }
    .timeline .timeline-content .left .content::before ,
    .timeline .timeline-content .right .content::before {
        display: none;
    }
    .testimonials .testi-box {
        width: 100%;
        float: none;
        margin-bottom: 15px;
    }
    .testimonials h2 {
        text-align: center;
    }
    .contact form .left,
    .contact form .right {
        float: none;
        width: 100%;
    }
    .social-section .content {
        display: block;
    }
    .social-section i {
        font-size: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .header-area .links {
        display: none;
    }
    .header-area .links.open {
        background-color: #fff;
        padding: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        border-radius: 4px;
        text-align: left;
    }
    .header-area .links.open li {
        display: block;
        padding: 10px 0 10px 5px;
    }
    .header-area .links.open li:hover {
        background-color: #eeeeee50;
    }
    .header-area .links.open li a {
        color: var(--main-color);
        font-weight: bold;
    }
    .header-area .toggle-menu {
        display: inline-block;
    }
    .about-us {
        display: block;
        text-align: center;
    }
    .about-us .info-box {
        padding: 0;
        margin-bottom: 20px;
    }
    .skills .skill-box {
        display: block;
    }
    .skills .skill-box .skill-name {
        width: 100%;
        margin-bottom: 15px;
    }
    .timeline .timeline-content .left ,
    .timeline .timeline-content .right {
        width: 100%;
        margin-bottom: 20px;
    }
    .timeline .timeline-content .left::before ,
    .timeline .timeline-content .right::before {
        display: none;
    }
    .timeline .timeline-content .left .content::before ,
    .timeline .timeline-content .right .content::before {
        display: none;
    }
    .covering {
        padding: 50px 0;
    }
    .covering .table {
        width: 100%;
    }
    .covering table {
        width: 96%;
        height: 400px;
        margin-left:2%;
    }
    .covering caption {
        font-size: 16px;
        margin-bottom: 30px;
    }
    
    .covering th,
    .covering td {
        font-size: 14px;
    }

    .covering .fa-check {
        font-size: 20px;
    }
    
    .covering .fa-times {
        font-size: 20px;
    }
    .testimonials .testi-box {
        width: 100%;
        float: none;
        margin-bottom: 15px;
    }
    .testimonials h2 {
        text-align: center;
    }
    .contact form .left,
    .contact form .right {
        float: none;
        width: 100%;
    }
    .social-section .content {
        display: block;
    }
    .social-section i {
        font-size: 36px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-area .links {
        display: none;
    }
    .header-area .links.open {
        background-color: #fff;
        padding: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        border-radius: 4px;
        text-align: left;
    }
    .header-area .links.open li {
        display: block;
        padding: 10px 0 10px 5px;
    }
    .header-area .links.open li:hover {
        background-color: #eeeeee50;
    }
    .header-area .links.open li a {
        color: var(--main-color);
        font-weight: bold;
    }
    .header-area .toggle-menu {
        display: inline-block;
    }
    .features .feat-box {
        width: calc(100% / 2);
    }
    .covering {
        padding: 40px 0;
    }
    .covering table {
        width: 100%;
    }
    .covering caption {
        font-size: 20px;
        margin-bottom: 50px;
    }
    .covering th,
    .covering td {
        font-size: 16px;
    }
    .covering .fa-check {
        font-size: 22px;
    }
    .covering .fa-times {
        font-size: 22px;
    }
    .testimonials .testi-box .person-info {
        text-align: center;
        overflow: visible;
    }
    .testimonials .testi-box .person-info img {
        float: none;
        margin-right: 0;
    }
    .social-section { text-align: center; }
    .social-section { margin-bottom: 15px; }
    .social-section i { margin:10px 15px; }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-area .links li:not(:last-child) {
        margin-right: 15px
    }
    .header-area .logo {
        width: 300px;
    }
    .header-area .logo {
        text-align: left;
    }
    .covering {
        padding: 40px 0;
    }
    .covering table {
        width: 100%;
    }
    .covering caption {
        font-size: 24px;
        margin-bottom: 70px;
    }
    .covering th,
    .covering td {
        font-size: 18px;
    }
    .covering .fa-check {
        font-size: 18px;
    }
    .covering .fa-times {
        font-size: 22px;
    }
    
}

/* grid system */
/* small devices -> landscape phones*/
@media (min-width: 576px) {
    .container {
        max-width: 540px
    }
}

/* medium devices -> tablets */
@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
}

/* desktops */
@media (min-width: 992px) {
    .container {
        max-width: 960px
    }
}

/* large screens */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .covering {
        padding: 40px 0;
    }
    .covering table {
        width: 100%;
    }
    .covering caption {
        font-size: 26px;
        margin-bottom: 70px;
    }
    .covering th,
    .covering td {
        font-size: 18px;
    }
    .covering .fa-check {
        font-size: 22px;
    }
    
    .covering .fa-times {
        font-size: 22px;
    }
}







